body {
    font-family: 'Raleway', sans-serif;
    color: #FBFFFE;
}

nav {
    position: fixed;
    z-index: 999;
}

nav,
nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1E;
}

nav ul {
    margin-left: -250px;
    position: static;
    opacity: 0;
}

nav ul li {
    padding: 12px 20px;
    color: #FBFFFE;
}

a {
    color: white;
    text-decoration: none;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#welcome {
    position: absolute;
    z-index: 1;
    width: 600px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bar {
    width: 550px;
    height: 2px;
    background-color: #FBFFFE;
}

#welcome p {
    padding: 30px;
    font-size: 56px;
    text-align: center;
    opacity: 1;
    line-height: 1.5;
}

#background {
    width: 100%;
    height: 100%;
    background-color: #1B1B1E;
    position: absolute;
    opacity: .95;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slideshow {
    width: 100%;
    height: 100%:
}

.pic {
    width: 100%;
    height: 100%:
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B1B1E;
    font-size: 14px;
    flex-direction: column;
    padding: 40px;
}

footer p {
    padding: 5px;

}

#tabs {
    position: relative;
}

#tabs ul {
    display: flex;
    background-color: #1B1B1E;
    justify-content: center;
}

#tabs ul li {
    padding: 15px;
}

#topphoto {
    background: url('../images/landing2.jpg') no-repeat center;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#topphoto2 {
    background: url('../images/landing3.jpg') no-repeat center;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#topphoto3 {
    background: url('../images/landing.png') no-repeat center;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#topphoto h1,
#topphoto2 h1,
#topphoto3 h1 {
    font-size: 48px;
    color: white;
}

.myTab {
    margin: 25px 0;
}

.myTab,
.right,
.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    flex-direction: column;
    width: 66%;
    padding: 10px 60px 10px 10px;
}

.left {
    flex-direction: column;
    width: 34%;
    font-size: 28px;
}

.left h1 {
    padding-bottom: 20px;
}

#main2 {
    display: flex;
    flex-direction: column;
    color: black;
    padding-top: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#mapid {
    height: 738px;
    width: 90%;
}

.stories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.person {
    width: 300px;
    height: 500px;
    margin: 0px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow .5s;
    transition: box-shadow .5s;
    overflow: hidden;
}

#eventsStories {
    margin-bottom: 30px;
}

.person:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.myimage {
    overflow: hidden;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myimage img {
    width: 100%;
}

.info {
    height: 40%;
    width: 100%;
}

.name {
    font-size: 22px;
    margin: 8px;
}

.story {
    font-size: 14px;
    padding: 10px;
}

.title {
    font-size: 48px;
    margin: 10px;
}

.slick-next::before,
.slick-prev::before {
    color: #1B1B1E;
}

.head-bg {
    width: 90%;
    background-color: #1B1B1E;
    color: #FBFFFE;
    text-align: center;
    border-radius: 15px 15px 0 0;
    margin-top: 50px;
}

.head-bg h1 {
    padding: 8px;
}

#toppart {
    display: flex;
    padding: 30px;
}

.leftpart {
    width: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftpart img {
    max-height: 90%;
    max-width: 90%;
    border-radius: 10px;
}

.rightpart {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.thiscontent {
    width: 85%;
}

.thiscontent h1 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.thiscontent p {
    font-size: 14px;
}

form {
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    width: 45%;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=radio] {
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #E63C2E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #b72315;
}

.error {
    color: red;
}

.success {
    margin-top: 20px;
    color: green;
}

.invisible {
    display: none;
}

#picklists {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 50px;
}

#picklists select {
    width: 30%;
}

#events {
    width: 80%;
    display: flex;
    flex-direction: column;

}

.event {

    color: #FBFFFE;
}

.event h1 {
    background-color: #1B1B1E;
    padding: 15px;
    font-size: 24px;
}

.eventinfo {
    color: #1B1B1E;
    font-size: 14px;
    display: flex;
    margin: 15px;
}

.eventinfo p {
    padding: 10px;
}
